%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
    %link{:rel => 'stylesheet', :href => '/css/helpcentre.css', :type => 'text/css', :media => 'screen'}
    %meta{:name => "ROBOTS", :content => 'NOINDEX, NOFOLLOW'}
%body
  %title
    ="Articles for #{product_name}"
  %label
    ="All the articles for #{product_name}"
  #articleListContainer
    %ul#articleList
      -articles.each do |value|
        %li
          =value
