%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
%body
  %title Articles for
  -articles.each_value do |value|
    %div
      =value[:text]
