%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
    %link{:rel => 'stylesheet', :href => '/css/helpcentre.css', :type => 'text/css', :media => 'screen'}
    %meta{:name => 'keywords', :content => "#{product_name}"}
%body
  %title
    ="#{product_name}"
  %label
    ="#{product_name}"
  #articleText
    -article.each_value do |value|
      =value[:text]
