%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
    %link{:rel => 'stylesheet', :href => '/css/helpcentre.css', :type => 'text/css', :media => 'screen'}
    %meta{:name => "ROBOTS", :content => 'NOINDEX, NOFOLLOW'}
%body.editor
  %title Create Article
  %label Product Name
  %input{:name => 'productName', :type => 'text'}
  %label Article Text
  %input{:name => 'article', :type => 'text'}
  #otherProductAssociations
    Existing product names
    %ul
    -articles.each do |value|
      %li
        %input{:id => "product_#{value}", :value => value, :type => 'checkbox'}
        %label{:for => "product_#{value}"}
          =value
  .error.hidden
  #saveResult.success
  %input{:name => 'add', :type => 'button', :value => 'Add', :onClick => 'addArticle()'}
