%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
%body
  %title Home
  %select{:name => 'productName'}
    -articles.each do |value|
      %option
        =value

  %input{:name => 'find', :type => 'button', :value => 'Find', :onClick => 'findProduct($("[name=productName]").val())'}

  #article