%html
  %head
    %script{:type => 'text/javascript', :src => '/js/helpcentre.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.4.min.js'}
    %link{:rel => 'stylesheet', :href => '/css/helpcentre.css', :type => 'text/css', :media => 'screen'}
    %meta{:name => 'google-site-verification', content => 'UQ62VxD25wqt3JZvWPz-gjhypcj5nRI3aIE1L2aR_hM'}
%body
  %title Home
  %label Which product would you like to know about ?
  %select{:name => 'productName'}
    -articles.each do |value|
      %option
        =value

  %input{:name => 'find', :type => 'button', :value => 'Find', :onClick => 'findProduct($("[name=productName]").val())'}

  #articleListContainer
    %ul#articleList